<h1 class="header"> My Heroes </h1>

<!-- IF A HERO IS SELECTED THEN IT WILL DISPLAY A MODAL TO SEE IF THEY WANT TO VIEW DETAILS -->
<div *ngIf="selectedHero" class="askDetail">
	<!-- MODAL TO ASK TO VIEW HEROES DETAIL -->
	<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel">
  		<div class="modal-dialog" role="document">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title" id="detailModalTitle">Hero Chosen</h4>
      			</div>
      			<div class="modal-body">
    				<h2>
        				{{selectedHero.name | uppercase }}
    				</h2>
      			</div>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    				<button type="button" class="btn btn-primary" (click)="gotoDetail()" data-dismiss="modal"> View Details </button>  
      			</div>
    		</div>
  		</div>
	</div>
</div>

<!-- DISPLAYS THE HEROS PICTURE AND NAME -->
<div class="container">
	<div class="row">
		<div class="col-1 col-sm-2 col-md-3 col-lg-4" *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected] = "hero === selectedHero" data-toggle="modal" data-target="#detailModal">
			<div class="thumbnail">
          		<img class="img-responsive" src="{{hero.picture}}" alt="{{hero.name}}" >
      		</div>
				<div class="caption">
                	<h4> {{hero.name}} </h4> 
				</div>
 		</div>
	</div>
</div>

<!-- ============================================================================================================================-->
<div class="[ container text-center ]">
	<div class="[ row ]">
		<div class="[ col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 ]" role="tabpanel">
            <div class="[ col-xs-4 col-sm-12 ]">
                <!-- Nav tabs -->
                <ul class="[ nav nav-justified ]" id="nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#defenseModal" aria-controls="defenseModal" role="tab" data-toggle="tab">
                            <img class="img-circle" src="../assets/defense.png" />
                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a href="#offenseModal" aria-controls="offenseModal" role="tab" data-toggle="tab" (click)="getHeroesByCategory(1)">
                            <img class="img-circle" src="../assets/offense.png" />
                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a href="#tankModal" aria-controls="tankModal" role="tab" data-toggle="tab">
                            <img class="img-circle" src="../assets/tank.png" />
                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a href="#supportModal" aria-controls="supportModal" role="tab" data-toggle="tab">
                            <img class="img-circle" src="../assets/support.png" />
                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="[ col-xs-8 col-sm-12 ]">
                <!-- Tab panes -->
                <div class="tab-content" id="tabs-collapse">            
                    <div role="tabpanel" class="tab-pane fade in active" id="defenseModal">
                        <div class="tab-inner">                    
                                           
                        </div>
                    </div>
                    
                    <div role="tabpanel" class="tab-pane fade" id="offenseModal" >
                        <div class="tab-inner">
							<!-- DISPLAYS THE HEROS PICTURE AND NAME -->
							<div class="container">
								<div class="row">
									<div class="col-1 col-sm-2 col-md-3 col-lg-4" *ngFor="let hero of catHeroes" (click)="onSelect(hero)" [class.selected] = "hero === selectedHero" data-toggle="modal" data-target="#detailModal">
										<div class="thumbnail">
											<img class="img-responsive" src="{{hero.picture}}" alt="{{hero.name}}" >
										</div>
											<div class="caption">
												<h4> {{hero.name}} </h4> 
											</div>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                    
                    <div role="tabpanel" class="tab-pane fade" id="tankModal">
                        <div class="tab-inner">
                        </div> 
                    </div>
                    
                    <div role="tabpanel" class="tab-pane fade" id="supportModal">
                        <div class="tab-inner">
                        </div>
                    </div>
                </div>
            </div>        
        </div>
	</div>
</div>